{% extends "base/en/base.html" %}
{% load static %}
{% block title %}Account Settings{% endblock title %}
{% block content %}
    <div class="container mt-5 mb-5">
        <div class="mb-4">
            <h1 class="as-xe0 mb-3">Politique de Confidentialité</h1>

        </div>

        <div class="mb-2 p-4 bg-light">
            <p class="mb-5">
                Date d'entrée en vigueur : 20 Août 2024
            </p>
        
            <p>
                <b>Introduction</b><br><br>
                Bienvenue sur <a href="/" style="color: blue;">Nakiese.com</a>, une plateforme dédiée à la réservation d’hébergements et de restaurants en Afrique. La protection de vos données personnelles est une priorité pour nous. Cette politique de confidentialité décrit les types de données que nous collectons, comment nous les utilisons, et les mesures que nous prenons pour garantir leur sécurité.
            </p>
        
            <h6 style="font-weight: bold;">1. Informations Collectées</h6>
            <p>
                Nous collectons les types de données suivants :
            </p>
        
            <p>
                <strong>1.1 Informations fournies par l'utilisateur :</strong>
                <ul style="list-style: disc; padding-left: 40px;">
                    <li>Informations personnelles : Lorsque vous vous inscrivez sur notre site, nous collectons des informations telles que votre nom, adresse e-mail, numéro de téléphone, et autres détails nécessaires à la création de votre compte.</li>
                    <li>Informations de paiement : Pour les transactions effectuées via notre site, nous collectons des informations financières, y compris les détails de votre carte de crédit ou d'autres méthodes de paiement.</li>
                </ul>
            </p>
        
            <p>
                <strong>1.2 Informations collectées automatiquement :</strong>
                <ul style="list-style: disc; padding-left: 40px;">
                    <li>Données de navigation : Nous collectons des informations sur la manière dont vous naviguez sur notre site, y compris votre adresse IP, type de navigateur, pages consultées, et le temps passé sur ces pages.</li>
                    <li>Cookies et technologies similaires : Nous utilisons des cookies pour améliorer votre expérience utilisateur en mémorisant vos préférences et en fournissant un contenu personnalisé.</li>
                </ul>
            </p>
        
            <h6 style="font-weight: bold;">2. Utilisation des Données</h6>
            <p>
                Les données collectées sont utilisées pour les finalités suivantes :
            </p>
        
            <p>
                <strong>2.1 Fourniture de services :</strong>
                <ul style="list-style: disc; padding-left: 40px;">
                    <li>Pour traiter vos réservations et faciliter la communication avec les hébergements et restaurants partenaires.</li>
                    <li>Pour vous fournir un accès à votre compte et gérer vos préférences.</li>
                </ul>
            </p>
        
            <p>
                <strong>2.2 Amélioration de nos services :</strong>
                <ul style="list-style: disc; padding-left: 40px;">
                    <li>Analyser les comportements des utilisateurs pour améliorer notre site et personnaliser votre expérience.</li>
                    <li>Réaliser des études de marché et des analyses statistiques.</li>
                </ul>
            </p>
        
            <p>
                <strong>2.3 Communication :</strong>
                <ul style="list-style: disc; padding-left: 40px;">
                    <li>Vous envoyer des notifications importantes, telles que des confirmations de réservation, des mises à jour sur nos services, ou des offres promotionnelles si vous avez consenti à les recevoir.</li>
                </ul>
            </p>
        
            <h6 style="font-weight: bold;">3. Partage des Données</h6>
            <p>
                Nakiese.com ne vend pas vos informations personnelles à des tiers. Nous partageons vos données uniquement dans les cas suivants :
            </p>
        
            <p>
                <strong>3.1 Partenaires et fournisseurs de services :</strong>
                <ul style="list-style: disc; padding-left: 40px;">
                    <li>Avec les hôtels, restaurants, et autres partenaires nécessaires à la réalisation de vos réservations.</li>
                    <li>Avec des fournisseurs de services tiers qui nous assistent dans le fonctionnement de notre site, y compris les services de paiement et les prestataires d’hébergement.</li>
                </ul>
            </p>
        
            <p>
                <strong>3.2 Exigences légales :</strong>
                <ul style="list-style: disc; padding-left: 40px;">
                    <li>Si nous sommes tenus de divulguer vos informations pour respecter une obligation légale, réglementaire ou judiciaire.</li>
                </ul>
            </p>
        
            <h6 style="font-weight: bold;">4. Sécurité des Données</h6>
            <p>
                Nous mettons en œuvre des mesures de sécurité techniques et organisationnelles appropriées pour protéger vos données contre tout accès non autorisé, modification, divulgation ou destruction. Nous utilisons des protocoles de chiffrement pour sécuriser les transactions de paiement et stockons vos données personnelles sur des serveurs sécurisés.
            </p>
        
            <h6 style="font-weight: bold;">5. Vos Droits</h6>
            <p>
                Conformément aux lois applicables en matière de protection des données, vous disposez des droits suivants :
            </p>
        
            <p>
                <strong>5.1 Accès et rectification :</strong>
                <ul style="list-style: disc; padding-left: 40px;">
                    <li>Vous avez le droit d'accéder aux informations que nous détenons sur vous et de demander leur rectification si elles sont incorrectes ou incomplètes.</li>
                </ul>
            </p>
        
            <p>
                <strong>5.2 Suppression :</strong>
                <ul style="list-style: disc; padding-left: 40px;">
                    <li>Vous pouvez demander la suppression de vos données personnelles, sous réserve des obligations légales de conservation.</li>
                </ul>
            </p>
        
            <p>
                <strong>5.3 Opposition :</strong>
                <ul style="list-style: disc; padding-left: 40px;">
                    <li>Vous avez le droit de vous opposer au traitement de vos données personnelles, notamment à des fins de marketing direct.</li>
                </ul>
            </p>
        
            <h6 style="font-weight: bold;">6. Cookies et Technologies Similaires</h6>
            <p>
                Nakiese.com utilise des cookies pour améliorer la fonctionnalité de notre site et personnaliser votre expérience. Vous pouvez configurer votre navigateur pour refuser les cookies, mais cela peut limiter certaines fonctionnalités de notre site.
            </p>
        
            <h6 style="font-weight: bold;">7. Modifications de la Politique de Confidentialité</h6>
            <p>
                Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment. Toute modification sera publiée sur cette page avec la date de la dernière mise à jour.
            </p>
        
            <h6 style="font-weight: bold;">8. Contact</h6>
            <p>
                Pour toute question ou demande concernant cette politique de confidentialité, vous pouvez nous contacter à :
            </p>
        
            <ul style="list-style: disc; padding-left: 40px;">
                <li>Adresse e-mail : info@nakiese.com</li>
                <li>Adresse postale : Commune de Diulu, Ville de Mbujimayi, RD Congo</li>
                <li>Numéro de téléphone : +243906947381</li>
            </ul>
        
            <p>
                Nakiese.com et sa compagnie mère Imara Technologie s'engagent à respecter votre vie privée et à protéger vos informations personnelles conformément aux lois en vigueur.
            </p>
        </div>
        
        

    </div>
    {% endblock content %}