{% extends "base/en/base.html" %}
{% load static %}
{% block title %}Account Settings{% endblock title %}
{% block content %}
    <div class="container mt-5 mb-5">
        <div class="mb-4">
            <h1 class="as-xe0 mb-3">Termes et Conditions</h1>

        </div>

        <div class="mb-2 bg-light p-4">
            <p class="mb-5">
                Date d'entrée en vigueur : 19 Août 2024
            </p>
        
            <p>
                <b>Introduction</b><br><br>
                Bienvenue sur <a href="/" style="color: blue;">Nakiese.com</a>. En accédant à notre site web ou en utilisant nos services, vous acceptez d'être lié par les termes et conditions suivants. Si vous n'acceptez pas ces conditions, veuillez ne pas utiliser notre site.
            </p>
            
            <p>
                <h6 style="font-weight: bold;">1. Définitions</h6>
                <ul style="list-style: disc; padding-left: 40px;">
                    <li>
                        "Nakiese" : désigne la plateforme en ligne Nakiese.com, propriété de Imara Technologies, permettant aux utilisateurs de rechercher et de réserver des hébergements et des restaurants.
                    </li>
                    <li>
                        "Utilisateur" : désigne toute personne qui accède au site web ou utilise les services de Nakiese.
                    </li>
                    <li>
                        "Partenaires" : désigne les propriétaires d'hôtels, restaurants, et autres établissements affiliés qui proposent leurs services via la plateforme Nakiese.
                    </li>
                </ul>
            </p>
        
            <h6 style="font-weight: bold;">2. Utilisation du Site</h6>
            <ul style="padding-left: 40px; list-style: none;">
                <li style="margin-bottom: 10px;">
                    <strong>2.1 Accès au site :</strong>
                    <p style="margin-left: 20px;">
                        - Vous devez avoir au moins 18 ans pour utiliser ce site. En accédant à Nakiese.com, vous confirmez que vous avez l'âge requis.
                    </p>
                </li>
                <li style="margin-bottom: 10px;">
                    <strong>2.2 Compte utilisateur :</strong>
                    <p style="margin-left: 20px;">
                        - Pour accéder à certaines fonctionnalités de la plateforme, vous devez créer un compte. Vous êtes responsable de la confidentialité de votre identifiant et mot de passe, ainsi que de toute activité sur votre compte.
                    </p>
                </li>
                <li style="margin-bottom: 10px;">
                    <strong>2.3 Utilisation conforme :</strong>
                    <p style="margin-left: 20px;">
                        - Vous vous engagez à utiliser Nakiese.com de manière légale et éthique. Toute utilisation abusive, y compris la tentative de fraude, la diffusion de contenu illicite ou la perturbation des services, est strictement interdite.
                    </p>
                </li>
            </ul>
        
            <h6 style="font-weight: bold;">3. Services Offerts</h6>
            <ul style="padding-left: 40px; list-style: none;">
                <li style="margin-bottom: 10px;">
                    <strong>3.1 Réservations :</strong>
                    <p style="margin-left: 20px;">
                        - Nakiese facilite la réservation de chambres d'hôtel, de tables de restaurant, et d'autres services similaires. Cependant, nous ne sommes pas responsables des services effectivement fournis par les partenaires. Toutes les réservations sont soumises aux termes et conditions des partenaires concernés.
                    </p>
                </li>
                <li style="margin-bottom: 10px;">
                    <strong>3.2 Paiements :</strong>
                    <p style="margin-left: 20px;">
                        - Les paiements pour les services réservés via Nakiese sont effectués selon les modalités affichées sur le site. Les taxes et frais applicables seront clairement indiqués avant la finalisation de votre réservation.
                    </p>
                </li>
            </ul>
        
            <h6 style="font-weight: bold;">4. Conditions des Partenaires</h6>
            <ul style="padding-left: 40px; list-style: none;">
                <li style="margin-bottom: 10px;">
                    <p style="margin-left: 20px;">
                        - Les services proposés par nos partenaires sont soumis à leurs propres termes et conditions. Il est de votre responsabilité de les consulter avant de finaliser toute réservation. Nakiese ne peut être tenu responsable des actions ou omissions de ses partenaires.
                    </p>
                </li>
            </ul>
        
            <h6 style="font-weight: bold;">5. Annulations et Modifications</h6>
            <ul style="padding-left: 40px; list-style: none;">
                <li style="margin-bottom: 10px;">
                    <strong>5.1 Politique d'annulation :</strong>
                    <p style="margin-left: 20px;">
                        - Les conditions d'annulation et de remboursement varient selon les partenaires. Veuillez consulter les conditions spécifiques de chaque établissement avant de réserver.
                    </p>
                </li>
                <li style="margin-bottom: 10px;">
                    <strong>5.2 Modifications de la réservation :</strong>
                    <p style="margin-left: 20px;">
                        - Les modifications de réservation sont sujettes à la disponibilité et aux politiques du partenaire concerné. Nakiese ne garantit pas que toute demande de modification sera satisfaite.
                    </p>
                </li>
            </ul>
        
            <h6 style="font-weight: bold;">6. Limitation de Responsabilité</h6>
            <ul style="padding-left: 40px; list-style: none;">
                <li style="margin-bottom: 10px;">
                    <p style="margin-left: 20px;">
                        - Nakiese ne garantit pas que le site sera exempt d'erreurs ou d'interruptions. Nous déclinons toute responsabilité en cas de perte de données, de préjudice résultant de l'utilisation du site, ou d'incompatibilité avec vos appareils.
                    </p>
                </li>
                <li style="margin-bottom: 10px;">
                    <p style="margin-left: 20px;">
                        - Nakiese n'est pas responsable des services fournis par les partenaires ou des dommages indirects, consécutifs ou punitifs liés à l'utilisation de notre plateforme.
                    </p>
                </li>
            </ul>
        
            <h6 style="font-weight: bold;">7. Propriété Intellectuelle</h6>
            <ul style="padding-left: 40px; list-style: none;">
                <li style="margin-bottom: 10px;">
                    <p style="margin-left: 20px;">
                        - Tout le contenu de Nakiese.com, y compris les textes, graphiques, logos, et images, est protégé par les lois sur la propriété intellectuelle. Vous ne pouvez pas utiliser, reproduire ou distribuer ce contenu sans notre autorisation écrite préalable.
                    </p>
                </li>
            </ul>
        
            <h6 style="font-weight: bold;">8. Données Personnelles</h6>
            <ul style="padding-left: 40px; list-style: none;">
                <li style="margin-bottom: 10px;">
                    <p style="margin-left: 20px;">
                        - L'utilisation de vos données personnelles est régie par notre Politique de Confidentialité. En utilisant Nakiese.com, vous acceptez la collecte et l'utilisation de vos informations personnelles conformément à cette politique.
                    </p>
                </li>
            </ul>
        
            <h6 style="font-weight: bold;">9. Modifications des Termes et Conditions</h6>
            <ul style="padding-left: 40px; list-style: none;">
                <li style="margin-bottom: 10px;">
                    <p style="margin-left: 20px;">
                        - Nakiese se réserve le droit de modifier ces termes et conditions à tout moment. Les modifications seront publiées sur cette page et entreront en vigueur immédiatement. Il vous incombe de consulter régulièrement ces conditions.
                    </p>
                </li>
            </ul>
        
            <h6 style="font-weight: bold;">10. Résolution des Litiges</h6>
            <ul style="padding-left: 40px; list-style: none;">
                <li style="margin-bottom: 10px;">
                    <p style="margin-left: 20px;">
                        - En cas de litige concernant l'utilisation de Nakiese.com, vous acceptez de tenter de résoudre le problème de manière amiable avant d'engager toute action en justice. Les litiges seront soumis aux lois de la République Démocratique du Congo et aux tribunaux compétents.
                    </p>
                </li>
            </ul>
        
            <h6 style="font-weight: bold;">11. Contact</h6>
            <ul style="padding-left: 40px; list-style: none;">
                <li style="margin-bottom: 10px;">
                    <p style="margin-left: 20px;">
                        - Pour toute question ou demande concernant ces termes et conditions, veuillez nous contacter à :
                    </p>
                    <ul style="list-style: disc; padding-left: 60px;">
                        <li>Adresse e-mail : info@nakiese.com</li>
                        <li>Adresse postale : Commune de Diulu, Ville de Mbujimayi, RD Congo</li>
                        <li>Numéro de téléphone : +243906947381</li>
                    </ul>
                </li>
            </ul>
        
            <p>
                Nakiese.com s'engage à fournir une plateforme sécurisée et fiable pour toutes vos réservations en ligne. Merci de votre confiance.
            </p>
        </div>
        

    </div>
    {% endblock content %}