{% extends "base/en/base.html" %}
{% load static %}
{% block title %}Hotels{% endblock title %}
{% block content %}
    <div class="container mt-5 mb-5">
        <div class="mb-4">
            <h1 class="as-xe0 mb-3">My Bookings</h1>

        </div>

        <div class="row w-50 align-items center">
            <div class="col-lg-3 mb-2 pt-2"><span><b> Showing results</b></span></div>
            <div class="col-lg-4 mb-2">
                <select class="custom-select p-xee01 rounded-pill w-100 " aria-label="Default select example">
                    <option selected>Default list</option>
                    <option value="clist">Created list</option>
                </select>
            </div>
            <div class="col-lg-5 mb-2"><button class="bg-p25">Create list</button></div>
        </div>
        <div class="mb-4 mt-5">
            <div class="row">
                <div class="col-lg-3">
                    <img src="assets/images/hotel-1.jpg" class="img-fluid rounded-start" alt="Pulman Lubumbashi">
                    <div class="card-body p-0">
                        <h5 class="card-title">Pulman Lubumbashi</h5>
                        <p class="card-text"><i class="fi fi-rr-marker"></i> Lubumbashi, Haut-Katanga</p>
                        <p class="card-text"><i class="fi fi-rr-bed-alt"></i> lit double</p>
                        <p class="card-text"><strong>$289</strong>/nuit ★4.9</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <img src="assets/images/hotel-1.jpg" class="img-fluid rounded-start" alt="Pulman Lubumbashi">
                    <div class="card-body p-0">
                        <h5 class="card-title">Pulman Lubumbashi</h5>
                        <p class="card-text"><i class="fi fi-rr-marker"></i> Lubumbashi, Haut-Katanga</p>
                        <p class="card-text"><i class="fi fi-rr-bed-alt"></i> lit double</p>
                        <p class="card-text"><strong>$289</strong>/nuit ★4.9</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <img src="assets/images/hotel-1.jpg" class="img-fluid rounded-start" alt="Pulman Lubumbashi">
                    <div class="card-body p-0">
                        <h5 class="card-title">Pulman Lubumbashi</h5>
                        <p class="card-text"><i class="fi fi-rr-marker"></i> Lubumbashi, Haut-Katanga</p>
                        <p class="card-text"><i class="fi fi-rr-bed-alt"></i> lit double</p>
                        <p class="card-text"><strong>$289</strong>/nuit ★4.9</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <img src="assets/images/hotel-1.jpg" class="img-fluid rounded-start" alt="Pulman Lubumbashi">
                    <div class="card-body p-0">
                        <h5 class="card-title">Pulman Lubumbashi</h5>
                        <p class="card-text"><i class="fi fi-rr-marker"></i> Lubumbashi, Haut-Katanga</p>
                        <p class="card-text"><i class="fi fi-rr-bed-alt"></i> lit double</p>
                        <p class="card-text"><strong>$289</strong>/nuit ★4.9</p>
                    </div>
                </div>
            </div>

        </div>

    </div>
    {% endblock content %}