{% load static %}
<div class="col-lg-4 ps-2 pe-2">
    <div class="as-xee2 w-100 rounded-4 ">
        <div class="mb-2  ps-4">
            <div class="d-flex align-items-center">
                <div class="mt-2 image-container">
                    <img src="{% static 'images/Ellipse 11.svg' %}" width="50" height="50" class="image-1" alt="icon">
                    <img src="{% static 'images/interface-user-add--actions-add-close-geometric-human-person-plus-single-up-user.svg' %}" width="20" height="20" class="icon-image" alt="icon">
                </div>
                <div class="pt-2 ms-2">
                    <a style="cursor:pointer;"  id="account-personal" class="as-xeee2 nav-link">Personal Details</a>
                </div>
            </div>
        </div>
        <div class="line"></div>
        <div class="mb-2 mt-2 ps-4">
            <div class="d-flex align-items-center">
                <div class="mt-2 image-container">
                    <img src="{% static 'images/Ellipse 11.svg' %}" width="50" height="50" class="image-1" alt="icon">
                    <img src="{% static 'images/interface-lock-shield--combination-combo-lock-locked-padlock-secure-security-shield-keyhole.svg' %}" width="20" height="20" class="icon-image" alt="icon">
                </div>
                <div class="pt-2 ms-2">
                    <a style="cursor:pointer;"  id="account-security"  class="as-xeee2 nav-link">Security</a>
                </div>
            </div>
        </div>
        <div class="line"></div>
        <div class="mb-2 mt-2 ps-4">
            <div class="d-flex align-items-center">
                <div class="mt-2 image-container">
                    <img src="{% static 'images/Ellipse 11.svg' %}" width="50" height="50" class="image-1" alt="">
                    <img src="{% static 'images/vuesax/linear/notification.svg' %}" width="20" height="20" class="icon-image" alt="">
                </div>
                <div class="pt-2 ms-2">
                    <a style="cursor:pointer;" id="account-notification" class="as-xeee2 nav-link">Email Notification</a>
                </div>
            </div>
        </div>
        <div class="line"></div>
        <div class="mb-2 mt-2 ps-4">
            <div class="d-flex align-items-center">
                <div class="mt-2 image-container">
                    <img src="{% static 'images/Ellipse 11.svg' %}" width="50" height="50" class="image-1" alt="">
                    <img src="{% static 'images/money-cash-bill-3--accounting-billing-payment-finance-cash-currency-money-bill.svg' %}" width="20" height="20" class="icon-image" alt="">
                </div>
                <div class="pt-2 ms-2"> 
                    <a style="cursor:pointer;" id="account-payment" class="as-xeee2 nav-link">Payment Details</a>
                </div>
            </div>
        </div>
        <div class="line"></div>
        <div class="mb-2 ps-4 pb-2">
            <div class="d-flex align-items-center">
                <div class="mt-2 image-container">
                    <img src="{% static 'images/Ellipse 11.svg' %}" width="50" height="50" class="image-1" alt="">
                    <img src="{% static 'images/vuesax/linear/setting-4.svg' %}" width="20" height="20" class="icon-image" alt="">
                </div>
                <div class="pt-2 ms-2">
                    <a style="cursor:pointer;"  id="account-preferences"  class="as-xeee2 nav-link">Preferences</a>
                </div>
            </div>
        </div>

    </div>
</div>