{% extends "base/en/base.html" %}
{% load static %}
{% block title %}Account Settings{% endblock title %}
{% block content %}
    <div style="background-color: #F3F3F3; height:150px; display: flex; align-items: center; margin-top: 20px;">
        <div class="container">
            <h1 class="as-xe0 ">About Us</h1>
        </div>
    </div>
    <div class="container mt-5 mb-5">

        <div class="row mb-5">
            <div class="col-lg-6 " style="padding-top: 100px;">
                <h5 style="font-weight: bold;" class="mb-4">Welcome to Nakiese.com, your gateway to African life!</h5>

                <p>Nakiese is more than just a booking site. The term “Nakiese” comes from Kikongo, a language spoken in
                    several regions of Central Africa, and means “to enjoy or be in joy.” Composed of the words “Na”
                    (in) and “Kiese” (joy, happiness, satisfaction), Nakiese embodies the essence of African life: a
                    life where comfort, satisfaction, and joy are within reach.</p>
            </div>
            <div class="col-lg-6" style="position: relative;">
                <img src="{% static 'images/graph 1.svg' %}" alt="" class="w-100" style="height: 400px;">
                <img src="{% static 'images/image 18 (1) (1).png' %}" alt="image" class="w-75"
                    style="height: 300px; position: absolute; left: 20px; top: -10px;">
            </div>
        </div>
        <div class="row mb-5 flex-wrap-reverse">

            <div class="col-lg-6">
                <img src="{% static 'images/pexels-followalice-667200 1.svg' %}" alt="image" class="w-100" style="height: 400px;">

            </div>
            <div class="col-lg-6 " style="padding-top: 100px;">
                <h5 style="font-weight: bold;" class="mb-4">Our Mission</h5>

                <p>At Nakiese, we believe in the hidden beauty of Africa. Our mission is to reveal the continent’s
                    treasures, from authentic accommodations to unique culinary experiences, and make them accessible to
                    all. We are determined to transform the way the world discovers and experiences Africa.</p>
            </div>


        </div>
        <div class="mb-5 pt-4 text-center">
            <h5 style="font-weight: bold;" class="mb-4">What We Do?</h5>
            <p>Nakiese.com is an online platform dedicated to booking accommodation, restaurants, and other essential
                services for an authentic experience in Africa. Our goal is to facilitate the discovery of the cultural,
                natural and human riches of the continent, by connecting travelers to local establishments.
                <br><br>
                Whether you're looking for a charming hotel, a quaint guesthouse, or a restaurant that serves local
                specialties, Nakiese makes it easy to find and book.
            </p>
        </div>
        <div class="mb-5 pt-4">

            <div class="mb-2 text-center">
                <h5 style="font-weight: bold;" class="mb-4">Our Mission</h5>
            </div>
            <div class="row ">
                <div class="col-lg-4 ps-5 pe-5 text-center">
                    <div class="w-100 bg-rest d-flex align-items-center justify-content-center mb-2">
                        <img src="{% static 'images/gps.svg' %}" alt="image">
                    </div>
                    <h6 style="font-weight: 700;" class="mb-3">Focus on Africa</h6>
                    <p>We focus on the African market, showcasing the continent’s hidden gems. Our platform is designed for travelers who want to live authentic experiences and discover Africa from a new perspective.</p>
                </div>
                <div class="col-lg-4 ps-5 pe-5 text-center">
                    <div class="w-100 bg-rest d-flex align-items-center justify-content-center mb-2">
                        <img src="{% static 'images/image 16.svg' %}" alt="image">
                    </div>
                    <h6 style="font-weight: 700;" class="mb-3">Targeted Advertising</h6>
                    <p>We offer affordable advertising space for local businesses, such as telecommunications and supermarkets, to connect them directly with our users.

                    </p>
                </div>
                <div class="col-lg-4 ps-5 pe-5 text-center">
                    <div class="w-100 bg-rest d-flex align-items-center justify-content-center mb-2">
                        <img src="{% static 'images/image 17.svg' %}" alt="">
                    </div>
                    <h6 style="font-weight: 700;" class="mb-3">Dedicated Customer Service</h6>
                    <p>We pride ourselves on providing exceptional customer service. Our team is always ready to help you, whether it's making a reservation, resolving an issue, or answering your questions.</p>
                </div>
            </div>
        </div>
        <div class="mb-5 pt-4">

            <div class="mb-2 text-center">
                <h5 style="font-weight: bold;" class="mb-4">Our Values</h5>
            </div>
            <div class="row ">
                <div class="col-lg-4 ps-5 pe-5 text-center">
                    <div class="w-100 bg-rest-1 mb-2">
                        <h6 style="font-weight: 700;" class="mb-3">Authenticity</h6>
                        <p>We celebrate the authenticity of Africa and strive to share it with the world.</p>
                    </div>
                    
                </div>
                <div class="col-lg-4 ps-5 pe-5 text-center">
                    <div class="w-100 bg-rest-1  mb-2">
                        <h6 style="font-weight: 700;" class="mb-3">Reliability</h6>
                    <p>We are committed to providing reliable and secure services to ensure a hassle-free booking experience.</p>
                </div>
                </div>
                <div class="col-lg-4 ps-5 pe-5 text-center">
                    <div class="w-100 bg-rest-1 mb-2">
                        <h6 style="font-weight: 700;" class="mb-3">Innovation</h6>
                        <p> We are constantly innovating to improve our platform and offer solutions that meet the needs of our users and partners.

                        </p>
                    </div>
                   
                </div>
            </div>
        </div>
        <div class="mb-5 pt-4 text-center">
            <h5 style="font-weight: bold;" class="mb-4">Meet Our Team</h5>
            <p>Nakiese is owned by Imara Technologies (Imara Tech). Behind Nakiese is a passionate team of technology, tourism, sustainability and customer service experts, all driven by the desire to showcase the best of Africa to the world. We pride ourselves on our diversity and our commitment to making Nakiese.com the go-to place for booking services in Africa.
            </p>
        </div>
        <div class="row mb-5 flex-wrap-reverse">

            <div class="col-lg-6">
                <img src="{% static 'images/pexels-rachel-claire-4577163 1.svg' %}" alt="" class="w-100" style="height: 400px;">

            </div>
            <div class="col-lg-6 " style="padding-top: 100px;">
                <h5 style="font-weight: bold;" class="mb-4">Join us in this adventure!</h5>
                
                <p class="mb-3">Whether you are a traveler looking for new discoveries or an establishment wishing to expand its clientele, Nakiese is there for you. Together, let's make Africa an even brighter destination.</p>
                <h6 style="font-weight: bold;" class="mb-4">Experience the joy of Africa. Discover the hidden gems.</h6>
                
            </div>


        </div>
    </div>
{% endblock %}